body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 100px;
  gap: 550px;
}

#logo {
  font-weight: bolder;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: #f9faf8;
  margin-bottom: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 500px;
  font-size: 18px;
  color: #e5e7eb;
}

#title {
  font-size: 48px;
  font-weight: bolder;
  margin: 10px 0px;
}

.description .sign-up {
  background-color: #3882f6;
  display: flex;
  align-self: flex-start;
  font-size: 18px;
  color: #e5e7eb;
  border-radius: 25px;
  border: none;
  padding: 10px 25px;
}

/* Info section */

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info-title {
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin: 50px 0;
}

.info {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info img {
  border: 5px solid #3882f6;
  padding: 50px;
  margin-bottom: 15px;
  border-radius: 25px;
}

.text {
  text-align: center;
  margin-bottom: 50px;
}

/* Quote */

.quote-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937d0;
  margin: 50px 0;
  padding: 50px 0;
}

.quote {
  max-width: 700px;
}

.quote p {
  font-weight: lighter;
}

.quote-container .said-it {
  font-size: 24px;
  font-weight: bolder;
  margin-left: 500px;
}

/* Call to action */

body .call-action {
  background-color: #3882f6;
  align-self: center;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  padding: 30px 100px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin: 100px;
}

#action-title {
  color: #e5e7eb;
  font-size: 24px;
  font-weight: bolder;
}

.call-action .sign-up {
  background: #3882f6;
  border: 2px solid#e5e7eb;
  border-radius: 10px;
  color: #e5e7eb;
  font-weight: bolder;
  padding: 10px 25px;
}

.action-left p {
  margin: 0;
}
